<app-filters></app-filters>

<table *ngIf="!isError; else errorBlock" class="table">
  <thead>
    <th>
      <mat-checkbox [checked]="getSelectionLength() > 0" (change)="masterToggle($event)">
      </mat-checkbox>
    </th>
    <th>Title</th>
    <th>Description</th>
    <th>Priority</th>
    <th>Creation Date</th>
    <th>Deadline Date</th>
    <th>Complition Date</th>
    <th>Completed</th>
    <th>
      <div class="button__row">
        <button
          mat-raised-button
          [disabled]="getSelectionLength() < 1"
          (click)="deleteManyTask()"
          color="warn"
        >
          <mat-icon aria-hidden="false" aria-label="Edit task">delete_forever</mat-icon>
        </button>
      </div>
    </th>
  </thead>

  <tbody>
    <tr
      *ngFor="let task of tasks | filterByPriority: filterCriteria"
      [appHighlightRed]="task.deadlineDate"
      [completed]="task.completed"
      [appLineThrough]="task.completed"
    >
      <td>
        <mat-checkbox (change)="addSelection(task.id, $event)" [checked]="selection[task.id]">
        </mat-checkbox>
      </td>
      <td>
        {{ task.title }}
      </td>
      <td>
        {{ task.description }}
      </td>
      <td>
        {{ task.priority }}
      </td>
      <td>
        {{ task.createdDate | date }}
      </td>
      <td>
        {{ task.deadlineDate | date }}
      </td>
      <td>
        {{ task.completedDate | date }}
      </td>
      <td>
        <mat-checkbox (change)="completeTask(task.id)" [checked]="task.completed"> </mat-checkbox>
      </td>
      <td>
        <div class="button__row">
          <a mat-raised-button [routerLink]="['/tasks', 'task', task.id]"
            ><mat-icon aria-hidden="false" aria-label="Edit task">edit</mat-icon></a
          >
          <button mat-raised-button color="warn" (click)="deleteTask(task.id)">
            <mat-icon aria-hidden="false" aria-label="Edit task">delete_forever</mat-icon>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #errorBlock>
  <p class="errorBlock">Server is not responding</p>
</ng-template>
